<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.ewha.cse.ccrew.api.dao.UserDao">
  <select id="selectUsers" parameterType="kr.ac.ewha.cse.ccrew.api.dto.UserDTO"
      resultType="kr.ac.ewha.cse.ccrew.api.dto.UserDTO">
  	SELECT 	
	  USER_ID as userId,
	  SCORE as score
    FROM USER_INFO
	<if test="!userId.equals('') and userId!=null">
		WHERE USER_ID = #{userId}
	</if>    
    ORDER BY SCORE DESC
  </select>
  <select id="getUsers" parameterType="kr.ac.ewha.cse.ccrew.api.dto.UserDTO"
      resultType="kr.ac.ewha.cse.ccrew.api.dto.UserDTO">
  	SELECT 	
	  USER_ID as userId
    FROM USER_INFO
    WHERE USER_ID =#{userId}
  </select>
  <insert id="insertUsers" parameterType="kr.ac.ewha.cse.ccrew.api.dto.UserDTO">
		INSERT INTO USER_INFO
	    (
			 USER_ID, SCORE
	    )
	    VALUES
	    (
	    	 #{userId}
			,#{score}        
	    ) 
    </insert>	
  <update id="updateUser" parameterType="kr.ac.ewha.cse.ccrew.api.dto.UserDTO">
      
        UPDATE USER_INFO
           SET SCORE= SCORE+ #{score}    
         WHERE USER_ID=#{userId}
    </update>
    
  <delete id="deleteUser" parameterType="kr.ac.ewha.cse.ccrew.api.dto.UserDTO">
        DELETE USER_INFO
    </delete>
         
</mapper>