<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.ewha.cse.ccrew.api.dao.UserDao">
  <select id="selectUsers" parameterType="String"
      resultType="kr.ac.ewha.cse.ccrew.api.dto.UserDTO">
  	SELECT 	
	  USER_NO as userNo,
	  USER_NAME as userName,
	  SCORE as score
    FROM USER_INFO
    WHERE USER_NAME LIKE CONCAT(#{userName}, '%')
    ORDER BY SCORE DESC
  </select>
</mapper>